<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7 mb-4">Web Post <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h1 class=" langlao display-5 text-center mb-3">ປ່ຽນລະຫັດຜ່ານ</h1>
            <form action="">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ລະຫັດຜ່ານເດີມ*</label>
                <input class="form-control" type="password">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ລະຫັດຜ່ານໃໝ່* </label>
                <input class="form-control" type="password">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ຢັ້ງຢືນລະຫັດຜ່ານ*</label>
                <input class="form-control" type="password" name="confirmpassword">
                <div class="col-auto my-1 m-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck2" style="width:40px; height:25px;">
                        <label class="form-check-label ml-4 mt-1 smoke-font-color" for="autoSizingCheck2">
                            Remember me
                          </label>
                    </div>
                </div>
                <button type="submit" class="btn  main-bg-color langlao" style="width:100%">ສຳເລັບ</button>
            </form>
        </div>
    </div>
</div>