<div class="container border-register">
    <h3 class="text-center display-7 mb-4">Web Post <i class="fas fa-leaf" id="register-color-icon"></i></h3>
    <h1 class=" langlao display-5 text-center mb-5">ຮ້ານຄ້າ</h1>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <img src="../../assets/images/2.png" alt="" width="100%">
            <hr>
            <div class="d-flex justify-content-center">
                <form class="form-group" id="formupload" class="uploadImage" enctype="multipart/form-data" action="http://nonav.net:4000/upload_img" method="POST">
                    <label id='uploadphoto' class="btn  border-top-0 border-left-0 border-right-0 buttonhover main-bg-color langlao"><i class="fas fa-cloud-upload-alt"></i> ອັບໂຫລດຮູບພາບ 
                  <input type="file" name="file_up" id="file_up" hidden>
                </label>
                    <label id='save' class="btn  border-top-0 border-left-0 border-right-0 buttonhover main-bg-color langlao"><i class="far fa-save"></i> ບັນທຶກ 
                  <input type="submit" name="submit" hidden>
                </label>
                </form>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <form action="">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ຊື່ສິນຄ້າ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ລະຫັດສິນຄ້າ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ຂໍ້ມູນຕິດຕໍ່:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ເບີໂທລະສັບ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ສະຖານທີ່ຕັ້ງ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ເນື້ອໃນສິນຄ້າ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ຄະແນນ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ຂໍ້ມູນອື່ນໆ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-2 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ເວັບໄຊທ໌:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-10 col-12">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-xl-8 col-lg-8 col-md-9 col-12">
            <div class="input-group">
                <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
                <button class="btn-font-color-search btn-search" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="mt-7 mb-4 background-store">
    <div class="container">
        <div class="row" style="padding-bottom:50px; padding-top:50px;">
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>