<div class="bg-color pt-4 pb-4" style="background-color:rgba(240, 240, 240, 0.938);">
    <p class="text-center " style="font-size:1.125rem;"> Check out Our featured products</p>
    <div class="container2 ml-5 mr-5">
        <section class="smallcarousel">
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a2.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a3.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a4.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a5.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a4.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a3.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a2.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a1.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a3.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a5.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
            <div class="bg-smallselcarousel">
                <img src="../../assets/images/a2.jpg">
                <div class="caption text-center">
                    <br>
                    <h6><b>150.000 Kip </b></h6>
                    <p><del>170.000 Kip</del></p>
                    <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                    <rating></rating>
                </div>
            </div>
        </section>
    </div>
</div>