<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7">Web Post <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h5 class="text-center display-5 langlao">ເຂົ້າໃຊ້ບັນຊີຂອງທ່ານ</h5>
            <form action="">
                <label class="ml-4 langlao smoke-font-color" for="">ກະລຸນາປ້ອນຊື່*</label>
                <input class="form-control" type="email">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ລະຫັດຜ່ານ*</label>
                <input class="form-control" type="password">
                <span><a href=""><p class="text-right langlao mt-2">ລືມລະຫັດຜ່ານ?</p></a> </span>
                <span class="input-group">
                    <input type="checkbox" style="height:40px; width:60px;"> <i class="smoke-font-color mt-2 mb-4">Keep me signed in</i>
                </span>
                <button type="submit" class="btn main-bg-color langlao" style="width:100%">ເຂົ້າສູ່ລະບົບ</button>
                <br><br>
                <h5 class="text-center langlao display-6">----- ຍັງບໍ່ມີບັນຊີແມ່ນບໍ່? -----</h5>
                <button class="btn btn-outline-success mb-4 langlao" style="width:100%">ລົງທະບຽນ</button>
            </form>
        </div>
    </div>
</div>