<div class="bg-shipping">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 hidden-md hidden-sm hidden-xs">
                <div class="d-flex flex-row align-items-center my-flex-container">
                    <div class="p-5 my-flex-item ml-0 mr-0"><i class="fas fa-truck" style="font-size:26pt;"></i></div>
                    <div class="p-2 my-flex-item m-0">Free 2-Day Shipping <br> On millions of items</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 hidden-md hidden-sm hidden-xs">
                <div class="d-flex flex-row align-items-center my-flex-container">
                    <div class="p-5 my-flex-item ml-0 mr-0"><i class="fas fa-hand-holding-usd" style="font-size:26pt;"></i></div>
                    <div class="p-2 my-flex-item m-0">Free 2-Day Shipping <br> On millions of items</div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 hidden-md hidden-sm hidden-xs">
                <div class="d-flex flex-row align-items-center my-flex-container">
                    <div class="p-5 my-flex-item ml-0 mr-0"><i class="fab fa-font-awesome-flag" style="font-size:26pt;"></i></div>
                    <div class="p-2 my-flex-item m-0">Free 2-Day Shipping <br> On millions of items</div>
                </div>
            </div>
        </div>
    </div>
</div>