<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7 mb-4">Web Post <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h1 class=" langlao display-5 text-center mb-3">ລືມລະຫັດຜ່ານ</h1>
            <form action="">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ເບີໂທລະສັບ*</label>
                <input class="form-control" type="email">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ລະຫັດຜ່ານ*</label>
                <input class="form-control" type="password">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ຢັ້ງຢືນລະຫັດຜ່ານ*</label>
                <div class="input-group">
                    <input class="form-control" type="password">
                    <button class="radius-show">show</button>
                </div>
                <button type="submit" class="btn  main-bg-color langlao mt-4 " style="width:100%">ສຳເລັດ</button>
                <br><br>
                <h5 class="text-center langlao display-6">----- ຍັງບໍ່ມີບັນຊີແມ່ນບໍ່? -----</h5>
                <button class="btn btn-outline-success langlao" style="width:100%" [routerLink]="['/register']">ລົງທະບຽນ</button>
            </form>
        </div>
    </div>
</div>