<div class="container pt-5 pb-5 text-center">
    <p class="text-center">Save big in every department</p>
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5 effect-circle1">
            <a href="">
                <div id="border-icon-content" class="menu-image1 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="fas fa-home"></i></span>
                </div>
                <p class="text-center langlao">ອຸປະກອນກໍ່ສ້າງ</p>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5 effect-circle1">
            <a href="">
                <div id="border-icon-content" class="menu-image2 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="fas fa-mobile" ></i></span>
                </div>
                <p class="text-center langlao">ໂທລະສັບ</p>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5">
            <a href="">
                <div id="border-icon-content" class="menu-image3 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="fas fa-power-off"></i></span>
                </div>
                <p class="text-center langlao">ເຄື່ອງໄຟຟ້າ</p>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5">
            <a href="">
                <div id="border-icon-content" class="menu-image4 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="fab fa-gripfire"></i></span>
                </div>
                <p class="text-center langlao">ຕົບແຕ່ງພາຍໃນ</p>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5">
            <a href="">
                <div id="border-icon-content" class="menu-image3 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="far fa-heart"></i></span>
                </div>
                <p class="text-center langlao">ສຸຂະພາບ</p>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5">
            <a href="">
                <div id="border-icon-content" class="menu-image4 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="fas fa-filter"></i></span>
                </div>
                <p class="text-center langlao">ເຟີນີເຈີ</p>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5">
            <a href="">
                <div id="border-icon-content" class="menu-image1 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="fab fa-affiliatetheme"></i></span>
                </div>
                <p class="text-center langlao">ເຄື່ອງກິລາ</p>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-6 mt-5">
            <a href="">
                <div id="border-icon-content" class="menu-image2 rounded-circle m-auto">
                    <span class="text-center align-self-center Circle-home"><i class="fas fa-umbrella"></i></span>
                </div>
                <p class="text-center langlao">ເຄື່ອງແຕ່ງຄອມ</p>
            </a>
        </div>
    </div>

</div>