<div class="container border-register">
    <h3 class="text-center display-7 mb-4">Web Post <i class="fas fa-leaf" id="register-color-icon"></i></h3>
    <h1 class=" langlao display-5 text-center mb-5">ລາຍລະອຽດສິນຄ້າ</h1>
    <a class="btn  mb-5 langlao main-bg-color" href="">ເລືອກຊື້ສິນຄ້າ</a>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-12">
            <img src="../../assets/images/2.png" alt="" width="100%">
        </div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="caption">
                <br>
                <h6><b>150.000 Kip </b></h6>
                <p><del>170.000 Kip</del></p>
                <p class="text-justify">ASUS ROG STRIX GL502VT-DS74 15.6" FHD Gaming Laptop, NVIDIA GTX970M 6GB VRAM, 16 GB DDR4, 1 TB HDD, 128 GB M.2 SSD</p>
                <p><b>from these sellers</b> <a href="#">these sellers.</a></p>
                <P>Style: 1TB+128GB SSD | Nvidia GTX 970M with 6GB VRAM</P>
                <div>
                    <ul>
                        <li>ROG Strix GL502 packs the latest 6th gen Intel® processor in a compact and lightweight design, 16GB RAM, 1TB 7200RPM Storage.</li>
                        <li>NVIDIA GeForce GTX 970M graphics with full Microsoft DirectX 12 support gives you efficient, powerful performance for heavy gaming or productive multitasking such as live streaming and video editing.</li>
                        <li>Ultra-portable design that fits snugly in a messenger bag or backpack. Whether you're waiting for your flight, kicking back at a café, or at a LAN tournament.</li>
                        <li>The Hyper Cool Duo-Copper cooling system uses heat pipes and a dual fan system to cool the CPU and GPU independently.</li>
                    </ul>
                </div>
                <rating></rating>
            </div>
            <div class="add-to-card">
                <button class="btn btn-warning main-bg-color langlao" style="width:100%;">ເພີ່ມເຂົ້າກະຕ່າ</button>
            </div>
        </div>
    </div>
</div>

<h1 class="text-center">Kouifillwer</h1>
<h1 class=" langlao display-5 text-center mb-5">ສິນຄ້າແນະນຳ</h1>
<div class="sugguest-client">
    <smallselcarousel></smallselcarousel>
</div>
<div class="container mt-5 border-register">
    <h3 class=" langlao display-5 text-center mb-5"><u>ຟອມສະແດງຄວາມຄິດເຫັນຂອງລູກຄ້າ</u></h3>
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-2">
            <form action="">
                <h6 class="display-6 langlao">ໃຫ້ຄະແນນພວກເຮົາ</h6>
                <p>
                    <ngb-rating [(rate)]="currentRate" style="font-size:18px; color:orangered;"></ngb-rating>
                </p>
                <textarea name="" id="" cols="30" rows="10" style="width:100% "></textarea>
                <p class="text-center">
                    <button type="submit" class="btn main-bg-color langlao mt-4" style="width:80%">ອັບໂຫລດ</button>
                </p>
            </form>
        </div>
    </div>
</div>