<div class="container">
    <form action="">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-12  border-register">
                <h3 class="text-center display-7 mb-4">Web Post <i class="fas fa-leaf" id="register-color-icon"></i></h3>
                <h1 class=" langlao display-5 text-center mb-4">ໂປຣໂມຊັ້ນ</h1>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ຊື່ສິນຄ້າ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8 col-12 input_store">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ລາຄາ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8 col-12 input_store">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ຄະແນນ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8 col-12 input_store">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                        <label id='name' class="mt-2 langlao" for="Storename">ເນື້ອໃນສິນຄ້າ:</label>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-8 col-12 input_store">
                        <input class="form-control" type="text" name="" id="storename" value="">
                    </div>
                </div>
                <hr style="width:94%" class="mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <button type="save" class="btn  main-bg-color langlao" id="btn-half"><i class="far fa-save"></i> ບັນທຶກ</button>
                    <button type="reset" class="btn  main-bg-color langlao" id="btn-half"><i class="far fa-times-circle"></i> ຍົກເລີກ</button>
                </div>
                <div class="admin-icon-control">
                    <p class="text-center mt-4">
                        <a class="main-icon-color" href="#" id="admin-icon"><i class="fas fa-plus-circle"></i></a>
                        <a class="main-icon-color" href="#" id="admin-icon"><i class="far fa-edit"></i></a>
                        <a class="main-icon-color" href="#" id="admin-icon"><i class="far fa-trash-alt"></i></a>
                        <a class="main-icon-color" href="#" id="admin-icon"><i class="far fa-save"></i></a>
                    </p>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="input-group">
                            <input type="text" class="form-control custom-formcontrol" placeholder="Search" name="search">
                            <button class="btn-font-color-search btn-search" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="mt-6 mb-4 background-store">
    <div class="container">
        <div class="row" style="padding-bottom:50px; padding-top:50px;">
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-small-store">
                    <img src="../../assets/images/2.png" alt="" style="width:100%">
                    <div class="caption text-center">
                        <br>
                        <h6><b>150.000 Kip </b></h6>
                        <p><del>170.000 Kip</del></p>
                        <p class="text-center">Great Value Pure Cane <br>Sugar,4 Ib</p>
                        <rating></rating>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profile-navigation d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link langlao" href="#">ກັບຄືນ</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link langlao" href="#">ຕໍ່ໄປ</a></li>
        </ul>
    </nav>
</div>