<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 border-register" style="width:100%;">
            <h3 class="text-center display-7">Web Post <i class="fas fa-leaf" id="register-color-icon"></i></h3>
            <h5 class="text-center display-5 langlao">ສ້າງບັນຊີຂອງທ່ານ</h5>
            <form action="">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ກະລຸນາປ້ອນຊື່*</label>
                <input class="form-control" type="email">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ເບີໂທລະສັບ* </label>
                <input class="form-control" type="number">
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ລະຫັດຜ່ານ*</label>
                <span class="input-group">
                    <input class="form-control" type="password"><button class="radius-show">Show</button>                        
                </span>
                <label class="ml-4 mt-3 langlao smoke-font-color" for="">ຢັ້ງຢືນລະຫັດຜ່ານ*</label>
                <input class="form-control" type="password" name="confirmpassword">
                <div class="col-auto my-1 m-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="autoSizingCheck2" style="width:40px; height:25px;">
                        <label class="form-check-label ml-4 mt-1 smoke-font-color" for="autoSizingCheck2">
                                Remember me
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn main-bg-color langlao" style="width:100%">ສຳເລັບ</button>
                <br><br>
                <h5 class="text-center langlao display-6">----- ຂ້ອຍມີບັນຊີແລ້ວ -----</h5>
                <button class="btn btn-outline-success langlao" style="width:100%" [routerLink]="['/login']">ເຂົ້າສູ່ລະບົບ</button>
            </form>
        </div>
    </div>

</div>